*
{
    box-sizing: border-box;
}
header
{
    background-image: url('1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.row
{
    max-width: 1140px;
    margin:0 auto 0 auto;
}


.background {
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
